<div class="card flex justify-content-center m-8">
  <div class="center">
    <p-card header="Teste Mongo">
      <p>Obter dados MongoDB</p>

      <div class="col-4 inline-block">
        <button pButton pRipple label="Buscar" (click)="buscarDados()" class="p-button-success"></button>
      </div>

      <div class="col-4 inline-block">
        <button pButton pRipple label="Limpar" (click)="limpar()" class="p-button-success"></button>
      </div>

      <div class="col-4 inline-block">
        <button pButton pRipple label="Novo" (click)="novo()" class="p-button-success"></button>
      </div>

      <div *ngIf="dados && dados.length">
        <div class="card">
          <p-table [value]="dados" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
              <tr>
                <th>Chave</th>
                <th>Valor</th>
                <th></th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-dado>
              <tr>
                <td>{{ dado.id }}</td>
                <td>{{ dado.chave }}</td>
                <td><button pButton pRipple label="Editar" (click)="editar(dado)" class="p-button-prmary"></button></td>
                <td><button pButton pRipple label="Deletar" (click)="deletar(dado.id)" class="p-button-danger"></button></td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </p-card>
  </div>
</div>

<p-dialog [modal]="true" [draggable]="false" (onHide)="limparFiltro()" header="Novo" [(visible)]="visible" [style]="{width: '50vw'}">
  <div class="center">
    <div><p>Nome</p></div>
    <div class="mb-4"><input type="text" pInputText [(ngModel)]="filtro.nome"/></div>
    <div>
      <button pButton pRipple label="Novo" (click)="enviarNovo()" class="p-button-success"></button>
    </div>
  </div>
</p-dialog>

<p-dialog [modal]="true" [draggable]="false" (onHide)="limparFiltro()" header="Editar" [(visible)]="visibleEditar" [style]="{width: '50vw'}">
  <div class="center">
    <div><p>Nome</p></div>
    <div class="mb-4"><input type="text" pInputText [(ngModel)]="filtro.dadoEditar.chave"/></div>
    <div>
      <button pButton pRipple label="Novo" (click)="enviarEditado()" class="p-button-success"></button>
    </div>
  </div>
</p-dialog>
